:root {
    --pink: #e869cc;
    --light-blue: #9fb6e2;
}

body {
    /* font-family: 'Jura'; */
    padding: 0rem;
}

#main-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-section {
    width: 100%;
    max-width: 600px;
}
.flag-frenzy-section {
    display: flex;
    flex-direction: column;

    padding: 100px;

    background-color: rgba(159, 182, 226, 0.8);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    margin: 50px 0px 50px 0px;
}
/* #main-section {
    width: 40%;
    min-height: 80%;
    transform: translate(-50%, -45%);
} */

#inner-section {
    background-color: white;
}

/* .container {
    flex-grow: 1;
    padding: 1rem;

  } */

section > h1,
section > button {
    flex-shrink: 0;
    height: 3rem;
}

h1 {
    font-size: 3rem;
    margin-top: -100px;
    margin-bottom: 25px;
    color: white;
}

h3,
em {
    font-size: 1.5rem;
}

button {
    font-size: 2rem;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 15px;
    line-height: 20px;
}

#flag-image {
    width: 350px;
}

#flag-guess,
#guess-button {
    padding: 10px;
    font-family: "Jura";
}

#guess-button {
    cursor: pointer;
}
